<div class="message">
  {{ msg }}
</div>
<h3>Create an account</h3>
<div class="row">
  <form class="col s12" method="POST" action="/register">
    <div class="row">
      <div class="input-field col s6">
        <input name="firstname"id="firstname" type="text" class="validate" length="20">
        <label for="firstname">First Name</label>
      </div>
      <div class="input-field col s6">
        <input name="lastname" id="lastname" type="text" class="validate" length="20">
        <label for="lastname">Last Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input name="username" id="email" type="email" class="validate">
        <label for="email">Email (will become your username)</label>
      </div>
      <div class="input-field col s6">
        <input name="password" id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s4">
        <select name="status">
          <option value="" disabled selected>Select an option...</option>
          <option name="producer" value="producer">producer</option>
          <option name="purchaser" value="purchaser">Purchaser</option>
        </select>
        <label>User type</label>
      </div>
      <div class="input-field col s4">
        <select name="purchaserId">
          <option value="" disabled selected>Select an option...</option>
          {{#each purchaser}}
            <option name="{{firstname}} {{lastname}}" value="{{id}}">{{firstname}} {{lastname}}</option>
          {{/each}}
        </select>
        <label>(Producers Only) Teacher Name</label>
      </div>

      <button>Register</button>
      <!-- Add dropdowns to select purchaser and TA(s) -->
    </div>
  </form>
</div>
<div class="row">
  <form class="col s12" method="GET" action="/login">
    <h3>Already registered?</h3>
    <button class="btn waves-effect waves-light red darken-4">Log In</button>
  </form>
</div>
